:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  @apply bg-zinc-900 text-zinc-50;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    @apply bg-zinc-50 text-zinc-900;
  }
}
